[submodule "sources/solidity"]
	path = sources/solidity
	url = https://github.com/ethereum/solidity
[submodule "sources/solana"]
	path = sources/solana
	url = https://github.com/solana-foundation/solana-com
[submodule "sources/tron"]
	path = sources/tron
	url = https://github.com/tronprotocol/documentation-en
[submodule "sources/tron-java"]
	path = sources/tron-java
	url = https://github.com/tronprotocol/java-tron
[submodule "sources/ton"]
	path = sources/ton
	url = https://github.com/ton-org/docs
[submodule "sources/geth"]
	path = sources/geth
	url = https://github.com/ethereum/go-ethereum
[submodule "sources/reth"]
	path = sources/reth
	url = https://github.com/paradigmxyz/reth
[submodule "sources/getblock"]
	path = sources/getblock
	url = https://github.com/GetBlock-io/getblock-docs
[submodule "sources/thegraph"]
	path = sources/thegraph
	url = https://github.com/graphprotocol/docs
[submodule "sources/subsquid"]
	path = sources/subsquid
	url = https://github.com/subsquid/docs
[submodule "sources/moralis"]
	path = sources/moralis
	url = https://github.com/MoralisWeb3/docs
